<h3> Reader Show Page of <%= @reader.name %></h3>

<div id="reader-<%= @reader.id %>">
  <ul>
    <li> Age: <%=@reader.age %>
    <li> Avid Reader: <%=@reader.avid_reader %>
    <li> Number of Books: <%= @book_number %>
  </ul>
  <%= link_to "List of #{@reader.name}'s Books", "/readers/#{@reader.id}/books" %>
 </div>