<h1>Books Index Page </h1>

<% @fiction_books.each do |book| %>
<div id="book-info-<%=book.id%>">
  <h3> Title: <%= book.title %></h3><%= link_to "Edit #{book.title}", "/books/#{book.id}/edit" %>
  <p> Author: <%= book.author %></p>
  <li> Genre: <%= book.genre %></li>
  <li> Year Written: <%= book.year_written %></li>
  <li> Fiction: <%= book.fiction %></li>
  <%= button_to "Delete #{book.title}", "/books/#{book.id}", method: :delete %>
</div>
<% end %>