<h1> Book Show Page </h1>
<h3>Title: <%= @book.title  %></h3>
<p> Book Info<p/>
  <li> Written By: <%= @book.author %></li>
  <li> Genre: <%= @book.genre %></li>
  <li> Year Published: <%= @book.year_written %></li>
  <li> Fiction Classification: <%= @book.fiction %></li><br>

  <%= link_to "Update Book", "/books/#{@book.id}/edit" %>

