<h1> Book Show Page For <%= @book.title  %></h1>
<h3> Book Info </h3>
<ul>
  <li> Written By: <%= @book.author %></li>
  <li> Genre: <%= @book.genre %></li>
  <li> Year Published: <%= @book.year_written %></li>
  <li> Fiction Classification: <%= @book.fiction %></li>

<ul>